{
    "slack_api_key": "xoxp-1234567890-1234567890-1234567890-12cba22241414afe2142",
    "slack_user_id": "U9XACLZXI",
    "loop_time": 30,
    "debug": false,
    "default_status": {"emoji": ":footprints:", "text": "Relentless forward progress"},
    "states": [
        {"process": "Highfive", "status": {"emoji": ":highfive:", "text": "Highfive call"}},
        {"process": "zoom.us", "status": {"emoji": ":zoom:", "text": "Zoom call"}}
    ]
}
